main{
    background-color: #f0f0f0;
    height: 600px;
    justify-content: space-around;
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "libros libros libros";
        .nav{
            grid-area: nav;
            justify-self: center;
            
        }
            .Libros{
                grid-area: libros;
                justify-self: center;
            }
            
}