header{
    form{
        grid-area: buscador;
        text-align: center;
        display: grid;
        grid-template-areas: "buscador boton";
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        align-self: center;
        justify-content: center;
            p{ 
                font-size: 25px;
                color: #f0f0f0; 
                    input[type="search"]{
                        grid-area: buscador;
                        font-size: 20px;
                        width:450px;
                        padding:3px 10px;
                        border:1px solid #f0f0f0;
                        border-radius:3px;
                        background-color:#f0f0f0;
                        margin:8px 0;
                        display:inline-block;
                    }  
                        button{
                            font-size: 20px;
                            grid-area: boton;
                            width: 100px;
                            height: 40px;
                            border-radius: 20px;
                            justify-self: center;
                            color: #f0f0f0;
                            background-color: #263636;
                        } 
            }
                @media (max-width: 768px) {
                    p{ 
                        font-size: 25px;
                        color: #f0f0f0; 
                            input[type="search"]{
                                width: 300px;
                            }
                        }
                }
        } 
        
}

@import "libros";

.section_generos{
    padding: 25px;
    background-color: #f0f0f0;
    display: grid;
    grid-template-areas: 
    "tit tit tit"
    "aventura fantasia romance"
    "terror ciencia comedia"
    "poesia clasicos misterio";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-evenly;
    row-gap: 15px;
            button{
                border-radius: 20px;
                width: 300px;
                height: 100px;
                background-color: #214942;
                color: #f0f0f0;
                font-size: 20px;
                font-weight: bolder;
                transition: all 1.5s;
            }
                button:hover{
                             transform: scale(1.2,1.2);
                 }
                    .romance{
                        grid-area: romance;
                    }
                        .fantasia{
                            grid-area: fantasia;
                        }
                            .terror{
                                grid-area: terror;
                            }
                                .ciencia{
                                    grid-area: ciencia;
                                }
                                    .poesia{
                                        grid-area: poesia;
                                    }
                                        .clasicos{
                                            grid-area: clasicos;
                                        }
                                            .aventura{
                                                grid-area: aventura;
                                            }
                                                .misterio{
                                                    grid-area: misterio;
                                                }
                                                    .comedia{
                                                        grid-area: comedia;
                                                    }
                h5{
                    grid-area: tit;
                    text-transform: capitalize;
                    font-size: 35px;
                    text-align: center; 
                    font-weight: bolder;
                }
    }
